body {font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif; text-align:justify;}
#maintext { max-width:600px; min-width:600px; margin:auto; padding-top:1em; padding-bottom:20em;}

.demo {height:5em; margin: 0em 0em; text-align:center;}
.demo div {display:inline-block}

iframe {overflow:hidden;border: 0px solid #ffffff; padding-top: 1em;}

.caption {color:gray; font-size:10pt; text-align: center;}

li { margin:.5em}

#winlose {text-align:center;}

#content:hover {cursor:pointer;}

img {position:absolute;}

hr { margin:2em auto; width:50%; height:1px; background: #fff }

