body {font-family: sans-serif; padding-left: 2em; max-width:40em; text-align:justify;}

#first_demo {height:5em; margin: 2em 0em;}

.alice {float:left; color:#555;}
.bob {float:right; color:#555;}

li { margin:.5em}
