body {font-family: sans-serif; padding-left: 2em; text-align:justify;}
#content { max-width:600px; min-width:600px; margin:auto; padding-top:1em;}

.demo {height:5em; margin: 2em 0em; text-align:center;}
.demo div {display:inline-block}

iframe {overflow:hidden;border: 0px solid #ffffff;}

li { margin:.5em}
